.menu{
    background-color: #24598E !important;
    height: 70px;
}
.button-link{
    color: #BEFF7A !important;
}
.item{

    display: inline-block;
    text-align: center;
    border: 1px solid #179275;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #1EA29B;
    font-weight: bold;
}
.section{
    display: inline-block;
    text-align: center;
}
.productData{
    font-size: 13px !important;
    font-weight: 400;
    color: #24598E;
    margin-bottom: 3px;
}
form{
    background-color:#296AAB;
    border:solid black 1px;
    padding: 15px;
}
.form{
    width:550px;
    margin-top:50px;
}
.container {
    border-radius: 5px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    width:609px;
    display: flex;
    flex-direction: column;
}

.final-button{
    float: right;
}
