<app-logout></app-logout>

<div class = "container form" >
    <form method = "POST" class = "form" (ngSubmit) = "submit()">
        <h2>Registro de usuarios</h2>
        <div class = "form-group">
            <label for = "name"> Nombre:  </label>
            <input type = "text" id = "name" class = "form-control" placeholder = "Nombre de usuario " >
        </div>
        <div class = "form-group">
            <label for = "password"> Contraseña:  </label>
            <input type = "password" id = "password" class = "form-control" placeholder = "Contraseña " >
        </div>
        <div class = "form-group">
            <label> Tipo de usuario:  </label>
            <div class = "radio">
                <label><input type = "radio" name = "type" id = "admin" >Administrador</label>
            </div>
            <div class = "radio">
                <label><input type = "radio" name = "type" id = "regular" >Regular</label>
            </div>
        </div>
        <button type = "submit" class = "form-control btn btn-primary" id = "buttonID" ng-click = "saveContact()">Guardar</button>
    </form>
</div>
