<div>
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs section">
        <div class="list-group">   
            <a (click)="isCollapsedCats = !isCollapsedCats"  class="list-group-item active aRef" ><b>Categorias</b></a> 
            <div [ngbCollapse]="isCollapsedCats" id = "cats"> 
            </div>
        </div>
        <div class="list-group">   
            <a (click)="isCollapsedBrands=!isCollapsedBrands" class="list-group-item active aRef" ><b>Marcas</b></a> 
            <div class="menu-size" [ngbCollapse]="isCollapsedBrands" id = "brands">
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 section">
        <app-products></app-products>
    </div>
</div>