
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Iniciar Sesion</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
       X </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        Usuario: <br>
        <input type="text" name="Username" #username>
      </div>
      <div>
        Contrasena: <br>
        <input type="password" name="Password" #password>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="func(username.value,password.value)">Entrar</button> <!--llamar servicio que accede a la BD-->
      <!-- modal.close('Save click') -->
    </div>
  </ng-template> 
  
  <button class="btn btn-link" (click)="open(content)">Login</button>
