<div >
    <img class="productData" height=150 width= 100% src="{{product.imagen}}">
    <p class="productName">{{ product.nombre }}</p>
    <div>
      <p class="productData">{{ product.stock }} unidades en stock</p>
      <p class="productData">Precio Unitario: {{ product.precio }}</p>
      <p class="productData">Precion Mayoreo: {{ product.precioMayoreo }}</p>
      <div style="height: 50px;">
        <a (click) = "onEditProduct()">
            <button class="btn"><img class = "icono" src="assets\edit.png">
            </button>
        </a>
        <button class="btn"><img class = "icono" src="assets\Minus.png"></button>

        <a (click) = "newSale()">
            <button class="btn">
              <img class = "icono" src="assets\shoppingcart.png">
            </button>
        </a>
        <a (click) = "newWholesale()">
            <button class="btn">
              <img class = "icono" src="assets\mayoreo.png">
            </button>
        </a>
      </div>
      
    </div>
</div>