<app-top-menu></app-top-menu>
<div>
  <div class="col-md-2 col-lg-3"></div>
  <div class="container form col-md-8 col-lg-6">
    <form (ngSubmit)="onSignin(f)" #f="ngForm" class = "form">
        <h4>Iniciar Sesion</h4>
        <div class  =  "form-group">
          Usuario: <br>
          <input type = "text" name = "username" id="username" ngModel class="form-control">
        </div>
        <div class  =  "form-group">
          Contrasena: <br>
          <input type = "password" name = "Password" id="password" ngModel class="form-control">
        </div>
        <a routerLink = "/home">
          <button type = "submit" class = "btn btn-primary final-button" [disabled]="!f.valid">Entrar</button>
        </a>
    </form>
  </div>
</div>
